.snake-container {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: black;
  margin: 0 auto;
  top: 50px;
  overflow: hidden;
}

.point {
  width: 2%;
  height: 2%;
  position: absolute;
}

.snake {
  background-color: white;
  border: 1px solid black;
}

.food {
  background-color: brown;
  border: 1px solid gray;
}
